body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.circular-progress-bar {
  display: block;
  margin: 0 auto;
  width: 150px !important;
}
.CircularProgressbar-text {
  font-size: 30px !important;
}

.Timer {
  padding-top: 25px;
}

.tipCard {
  cursor: help;
  margin-left: 2%;
  width: 5%;
}

#root > div > div > div.Puzzle > div > div > button {
  cursor: default;
}